<p style="color: green"><%= notice %></p>

<h1>People</h1>

<%= link_to "Json Table", intent_path %> <br/>

<!-- Large button group -->
<div class="btn-group">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" 
           aria-haspopup="true" aria-expanded="false">
    Regular Table <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Json Table", intent_path %></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>

<table id="ordersTable" class="table table-striped">
<thead>
<tr>
  <th>Firstname</th>
  <th>Lastname</th>
  <th></th>
</tr>
</thead>

<tbody>
   <% @people.each do |person| %>
    <tr>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= link_to "View Person", person_path(person)  %></td>

    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New person", new_person_path %>
<script>
    window.addEventListener('DOMContentLoaded', function(e){
      var table1
      $(document).ready(function(){

        table1 = $("#ordersTable").DataTable({
          pageLength:50,
          order:[[0, 'desc']],
          columnDefs: [
            { targets: 1,
              render: function(data) {
                return  '<%= link_to "New person-config", new_person_path %>'
              }
            }   
          ]
        })
     });

     // not working
     $('#ordersTable tbody').on( 'click','tr', function ( s ) {
 
      console.log(table1.row(this).data())
     } );

    });


</script>
