
<% if false %>
 <nav> is an html element

  type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent"

<% end %>
<% if false %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown">Services</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="">Photography</a>
            </div>
     </li>

     <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
       Dropdown
     </a>
     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       <a class="dropdown-item" href="#">Action</a>
       <a class="dropdown-item" href="#">Another action</a>
       <div class="dropdown-divider"></div>
       <a class="dropdown-item" href="#">Something else here</a>
     </div>
   </li>
    </u>
  </div>
</nav>
<% end %>

<p style="color: green"><%= notice %></p>

<h1>People</h1>

<%= link_to "Json Table", intent_path %>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>


<table id="ordersTable" class="table table-striped">
<thead>
<tr>
  <th>Firstname</th>
  <th>Lastname</th>
  <th></th>
</tr>
</thead>

<tbody>
   <% @people.each do |person| %>
    <tr>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= link_to "View Person", person_path(person)  %></td>

    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New person", new_person_path %>
<script>
    window.addEventListener('DOMContentLoaded', function(e){
      var table1
      $(document).ready(function(){

        table1 = $("#ordersTable").DataTable({
          pageLength:50,
          order:[[0, 'desc']],
          columnDefs: [
            { targets: 1,
              render: function(data) {
                return  '<%= link_to "New person-config", new_person_path %>'
              }
            }   
          ]
        })
     });

     // not working
     $('#ordersTable tbody').on( 'click','tr', function ( s ) {
 
      console.log(table1.row(this).data())
     } );

    });


</script>
