



<% if false %>
 <nav> is an html element

  type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent"

<% end %>



<p style="color: green"><%= notice %></p>

<h1>People</h1>

<%= link_to "Json Table", intent_path %>


<table id="ordersTable" class="table table-striped">
<thead>
<tr>
  <th>Firstname</th>
  <th>Lastname</th>
  <th></th>
</tr>
</thead>

<tbody>
   <% @people.each do |person| %>
    <tr>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= link_to "View Person", person_path(person)  %></td>

    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New person", new_person_path %>
<script>
    window.addEventListener('DOMContentLoaded', function(e){
      var table1
      $(document).ready(function(){

        table1 = $("#ordersTable").DataTable({
          pageLength:50,
          order:[[0, 'desc']],
          columnDefs: [
            { targets: 1,
              render: function(data) {
                return  '<%= link_to "New person-config", new_person_path %>'
              }
            }   
          ]
        })
     });

     // not working
     $('#ordersTable tbody').on( 'click','tr', function ( s ) {
 
      console.log(table1.row(this).data())
     } );

    });


</script>
